{:format :kotoba.kir/v4,
 :signature nil,
 :functions
 [{:name daily-query,
   :params [],
   :result :string,
   :effects #{},
   :body
   "query DailyTraffic($zoneTag: String!, $since: String!, $until: String!) { viewer { zones(filter: {zoneTag: $zoneTag}) { httpRequests1dGroups(limit: 31, filter: {date_geq: $since, date_leq: $until}) { sum { requests pageViews bytes } uniq { uniques } dimensions { date } } } } }",
   :param-types []}
  {:name path-query,
   :params [host?],
   :result :string,
   :effects #{},
   :body
   (if
    (= host? 1)
    "query PathTraffic($zoneTag: String!, $since: Time!, $until: Time!, $host: String!) { viewer { zones(filter: {zoneTag: $zoneTag}) { httpRequestsAdaptiveGroups(limit: 100, filter: {datetime_geq: $since, datetime_leq: $until, clientRequestHTTPHost: $host}) { count dimensions { clientRequestPath clientDeviceType clientCountryName edgeResponseStatus } } } } }"
    "query PathTraffic($zoneTag: String!, $since: Time!, $until: Time!) { viewer { zones(filter: {zoneTag: $zoneTag}) { httpRequestsAdaptiveGroups(limit: 100, filter: {datetime_geq: $since, datetime_leq: $until}) { count dimensions { clientRequestPath clientDeviceType clientCountryName edgeResponseStatus } } } } }"),
   :param-types [:i64]}
  {:name path-query-declares-host?,
   :params [host?],
   :result :i64,
   :effects #{},
   :body
   (if (string-contains? (path-query host?) "$host: String!") 1 0),
   :param-types [:i64]}
  {:name path-query-filters-host?,
   :params [host?],
   :result :i64,
   :effects #{},
   :body
   (if
    (string-contains?
     (path-query host?)
     "clientRequestHTTPHost: $host")
    1
    0),
   :param-types [:i64]}],
 :oracle-value nil,
 :schema-identities nil,
 :exports
 [daily-query
  path-query
  path-query-declares-host?
  path-query-filters-host?],
 :schemas nil,
 :effects #{},
 :blocks [],
 :entry nil}
