{:format :kotoba.kir/v4,
 :signature nil,
 :functions
 [{:name empty-string-tally,
   :params [],
   :result [:map :string :i64],
   :effects #{},
   :body (typed-map-new [:map :string :i64]),
   :param-types []}
  {:name empty-i64-tally,
   :params [],
   :result [:map :i64 :i64],
   :effects #{},
   :body (typed-map-new [:map :i64 :i64]),
   :param-types []}
  {:name string-tally-get,
   :params [x],
   :result :i64,
   :effects #{},
   :body
   (let
    [m
     (record-get
      [:record :parse/str-get [[:m [:map :string :i64]] [:k :string]]]
      x
      :m)
     k
     (record-get
      [:record :parse/str-get [[:m [:map :string :i64]] [:k :string]]]
      x
      :k)]
    (option-match
     [:option :i64]
     (typed-map-get [:map :string :i64] m k)
     0
     v
     v)),
   :param-types [[:ref :parse/str-get]]}
  {:name string-tally-add,
   :params [x],
   :result [:map :string :i64],
   :effects #{},
   :body
   (let
    [m
     (record-get
      [:record
       :parse/str-add
       [[:m [:map :string :i64]] [:k :string] [:n :i64]]]
      x
      :m)
     k
     (record-get
      [:record
       :parse/str-add
       [[:m [:map :string :i64]] [:k :string] [:n :i64]]]
      x
      :k)
     n
     (record-get
      [:record
       :parse/str-add
       [[:m [:map :string :i64]] [:k :string] [:n :i64]]]
      x
      :n)]
    (typed-map-assoc
     [:map :string :i64]
     m
     k
     (+
      (string-tally-get
       (record-new
        [:record
         :parse/str-get
         [[:m [:map :string :i64]] [:k :string]]]
        m
        k))
      n))),
   :param-types [[:ref :parse/str-add]]}
  {:name i64-tally-get,
   :params [x],
   :result :i64,
   :effects #{},
   :body
   (let
    [m
     (record-get
      [:record :parse/i64-get [[:m [:map :i64 :i64]] [:k :i64]]]
      x
      :m)
     k
     (record-get
      [:record :parse/i64-get [[:m [:map :i64 :i64]] [:k :i64]]]
      x
      :k)]
    (option-match
     [:option :i64]
     (typed-map-get [:map :i64 :i64] m k)
     0
     v
     v)),
   :param-types [[:ref :parse/i64-get]]}
  {:name i64-tally-add,
   :params [x],
   :result [:map :i64 :i64],
   :effects #{},
   :body
   (let
    [m
     (record-get
      [:record
       :parse/i64-add
       [[:m [:map :i64 :i64]] [:k :i64] [:n :i64]]]
      x
      :m)
     k
     (record-get
      [:record
       :parse/i64-add
       [[:m [:map :i64 :i64]] [:k :i64] [:n :i64]]]
      x
      :k)
     n
     (record-get
      [:record
       :parse/i64-add
       [[:m [:map :i64 :i64]] [:k :i64] [:n :i64]]]
      x
      :n)]
    (typed-map-assoc
     [:map :i64 :i64]
     m
     k
     (+
      (i64-tally-get
       (record-new
        [:record :parse/i64-get [[:m [:map :i64 :i64]] [:k :i64]]]
        m
        k))
      n))),
   :param-types [[:ref :parse/i64-add]]}
  {:name sum2,
   :params [p],
   :result :i64,
   :effects #{},
   :body
   (+
    (record-get [:record :parse/pair [[:a :i64] [:b :i64]]] p :a)
    (record-get [:record :parse/pair [[:a :i64] [:b :i64]]] p :b)),
   :param-types [[:ref :parse/pair]]}
  {:name sum3,
   :params [t],
   :result :i64,
   :effects #{},
   :body
   (+
    (record-get
     [:record :parse/triple [[:a :i64] [:b :i64] [:c :i64]]]
     t
     :a)
    (+
     (record-get
      [:record :parse/triple [[:a :i64] [:b :i64] [:c :i64]]]
      t
      :b)
     (record-get
      [:record :parse/triple [[:a :i64] [:b :i64] [:c :i64]]]
      t
      :c))),
   :param-types [[:ref :parse/triple]]}
  {:name sum4,
   :params [q],
   :result :i64,
   :effects #{},
   :body
   (+
    (record-get
     [:record :parse/quad [[:a :i64] [:b :i64] [:c :i64] [:d :i64]]]
     q
     :a)
    (+
     (record-get
      [:record :parse/quad [[:a :i64] [:b :i64] [:c :i64] [:d :i64]]]
      q
      :b)
     (+
      (record-get
       [:record :parse/quad [[:a :i64] [:b :i64] [:c :i64] [:d :i64]]]
       q
       :c)
      (record-get
       [:record :parse/quad [[:a :i64] [:b :i64] [:c :i64] [:d :i64]]]
       q
       :d)))),
   :param-types [[:ref :parse/quad]]}
  {:name report-ok?,
   :params [has-errors],
   :result :i64,
   :effects #{},
   :body (if (= has-errors 1) 0 1),
   :param-types [:i64]}],
 :oracle-value nil,
 :schema-identities
 #:parse{:i64-add
         "3b0b3701559d6443def520f32711403337cec15ad500c840f1cc9146826be278",
         :i64-get
         "ff41b4b12cb043cfe5447f6f4d6b9998725abfcd3bdb9491f4c05c33acb9e192",
         :pair
         "97a2bb53e077179ea7b99c1777aa19e6a343a9802b8a56df4f28c4418482b433",
         :quad
         "f26b29309b5882b47c741ec1cc2ce3466088e51a11449112490d2e6f9b4ec058",
         :str-add
         "eddff0706749bdabfdea0e02c7efd13e76deeb209f010f24ea0ac75e227afdde",
         :str-get
         "11414e938896059d779098f366b67aea0c2d7a2e1ea959685b3b53fe36ec78a0",
         :triple
         "9263b40b2e5ac98efd765e2a26f8a03b2615586435c6b48d0e9a46a34369abf0"},
 :exports
 [empty-string-tally
  empty-i64-tally
  string-tally-get
  string-tally-add
  i64-tally-get
  i64-tally-add
  sum2
  sum3
  sum4
  report-ok?],
 :schemas
 #:parse{:pair [:record :parse/pair [[:a :i64] [:b :i64]]],
         :triple
         [:record :parse/triple [[:a :i64] [:b :i64] [:c :i64]]],
         :quad
         [:record
          :parse/quad
          [[:a :i64] [:b :i64] [:c :i64] [:d :i64]]],
         :str-get
         [:record
          :parse/str-get
          [[:m [:map :string :i64]] [:k :string]]],
         :str-add
         [:record
          :parse/str-add
          [[:m [:map :string :i64]] [:k :string] [:n :i64]]],
         :i64-get
         [:record :parse/i64-get [[:m [:map :i64 :i64]] [:k :i64]]],
         :i64-add
         [:record
          :parse/i64-add
          [[:m [:map :i64 :i64]] [:k :i64] [:n :i64]]]},
 :effects #{},
 :blocks [],
 :entry nil}
