{:format :kotoba.kir/v4,
 :signature nil,
 :functions
 [{:name api-base,
   :params [],
   :result :string,
   :effects #{},
   :body "https://api.cloudflare.com/client/v4",
   :param-types []}
  {:name graphql-endpoint,
   :params [],
   :result :string,
   :effects #{},
   :body (string-concat (api-base) "/graphql"),
   :param-types []}
  {:name api-token-secret-name,
   :params [],
   :result :string,
   :effects #{},
   :body "cloudflare-api-token",
   :param-types []}
  {:name api-token-env-name,
   :params [],
   :result :string,
   :effects #{},
   :body "CLOUDFLARE_API_TOKEN",
   :param-types []}
  {:name default-content-type,
   :params [],
   :result :string,
   :effects #{},
   :body "application/json",
   :param-types []}
  {:name method-get,
   :params [],
   :result :string,
   :effects #{},
   :body "get",
   :param-types []}
  {:name method-post,
   :params [],
   :result :string,
   :effects #{},
   :body "post",
   :param-types []}
  {:name method-put,
   :params [],
   :result :string,
   :effects #{},
   :body "put",
   :param-types []}
  {:name method-delete,
   :params [],
   :result :string,
   :effects #{},
   :body "delete",
   :param-types []}
  {:name ws?,
   :params [c],
   :result :i64,
   :effects #{},
   :body
   (if
    (string=? c " ")
    1
    (if
     (string=? c "\n")
     1
     (if (string=? c "\t") 1 (if (string=? c "\r") 1 0)))),
   :param-types [:string]}
  {:name blank?,
   :params [s],
   :result :i64,
   :effects #{},
   :body
   (let
    [n (string-byte-length s)]
    (if
     (= n 0)
     1
     (if
      (= (ws? (string-substring s 0 1)) 1)
      (blank? (string-substring s 1 n))
      0))),
   :param-types [:string]}
  {:name query-pair,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (string-concat
    (record-get [:record :client/kv [[:k :string] [:v :string]]] x :k)
    (string-concat
     "="
     (record-get
      [:record :client/kv [[:k :string] [:v :string]]]
      x
      :v))),
   :param-types [[:ref :client/kv]]}
  {:name with-query,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (let
    [path
     (record-get
      [:record :client/path-qs [[:path :string] [:qs :string]]]
      x
      :path)
     qs
     (record-get
      [:record :client/path-qs [[:path :string] [:qs :string]]]
      x
      :qs)]
    (if
     (string=? qs "")
     path
     (string-concat path (string-concat "?" qs)))),
   :param-types [[:ref :client/path-qs]]}
  {:name rest-url,
   :params [x],
   :result :string,
   :effects #{},
   :body (string-concat (api-base) (with-query x)),
   :param-types [[:ref :client/path-qs]]}
  {:name graphql-url,
   :params [],
   :result :string,
   :effects #{},
   :body (graphql-endpoint),
   :param-types []}
  {:name bearer-auth,
   :params [token],
   :result :string,
   :effects #{},
   :body (string-concat "Bearer " token),
   :param-types [:string]}
  {:name secret-name-matches?,
   :params [name],
   :result :i64,
   :effects #{},
   :body (if (string=? name (api-token-secret-name)) 1 0),
   :param-types [:string]}
  {:name transport-ok?,
   :params [status],
   :result :i64,
   :effects #{},
   :body (if (< status 300) 1 0),
   :param-types [:i64]}
  {:name prefer-explicit-token?,
   :params [token],
   :result :i64,
   :effects #{},
   :body (if (= (blank? token) 1) 0 1),
   :param-types [:string]}],
 :oracle-value nil,
 :schema-identities
 #:client{:kv
          "0660a1f49423aa40bef8f943f936aa912772fabf674c6f17513d5b04be9d5b6e",
          :path-qs
          "f2f15e0b2edea4762b06faafca3a19c69e115ff9d3eb51293646237f5fb7c7f7"},
 :exports
 [api-base
  graphql-endpoint
  api-token-secret-name
  api-token-env-name
  default-content-type
  method-get
  method-post
  method-put
  method-delete
  blank?
  ws?
  query-pair
  with-query
  rest-url
  graphql-url
  bearer-auth
  secret-name-matches?
  transport-ok?
  prefer-explicit-token?],
 :schemas
 #:client{:kv [:record :client/kv [[:k :string] [:v :string]]],
          :path-qs
          [:record :client/path-qs [[:path :string] [:qs :string]]]},
 :effects #{},
 :blocks [],
 :entry nil}
