{:format :kotoba.kir/v4,
 :signature nil,
 :functions
 [{:name datasets-path,
   :params [zone-id],
   :result :string,
   :effects #{},
   :body
   (string-concat
    "/zones/"
    (string-concat zone-id "/logpush/datasets")),
   :param-types [:string]}
  {:name jobs-path,
   :params [zone-id],
   :result :string,
   :effects #{},
   :body
   (string-concat "/zones/" (string-concat zone-id "/logpush/jobs")),
   :param-types [:string]}
  {:name job-path,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (string-concat
    (jobs-path
     (record-get
      [:record
       :logpush/zone-job
       [[:zone-id :string] [:job-id :string]]]
      x
      :zone-id))
    (string-concat
     "/"
     (record-get
      [:record
       :logpush/zone-job
       [[:zone-id :string] [:job-id :string]]]
      x
      :job-id))),
   :param-types [[:ref :logpush/zone-job]]}],
 :oracle-value nil,
 :schema-identities
 #:logpush{:zone-job
           "fe865624c9ea15c81e0aa4bb0b9f1aa185d4f2b620a86f1503f7acab49d5cb5c"},
 :exports [datasets-path jobs-path job-path],
 :schemas
 #:logpush{:zone-job
           [:record
            :logpush/zone-job
            [[:zone-id :string] [:job-id :string]]]},
 :effects #{},
 :blocks [],
 :entry nil}
