{:format :kotoba.kir/v4,
 :signature nil,
 :functions
 [{:name api-base,
   :params [],
   :result :string,
   :effects #{},
   :body "https://api.cloudflare.com/client/v4",
   :param-types []}
  {:name digit-char,
   :params [d],
   :result :string,
   :effects #{},
   :body (string-substring "0123456789" d (+ d 1)),
   :param-types [:i64]}
  {:name nat-str,
   :params [n],
   :result :string,
   :effects #{},
   :body
   (if
    (< n 10)
    (digit-char n)
    (string-concat
     (nat-str (quot n 10))
     (digit-char (- n (* (quot n 10) 10))))),
   :param-types [:i64]}
  {:name i64-str,
   :params [n],
   :result :string,
   :effects #{},
   :body
   (if (< n 0) (string-concat "-" (nat-str (- 0 n))) (nat-str n)),
   :param-types [:i64]}
  {:name blank?,
   :params [s],
   :result :i64,
   :effects #{},
   :body (if (string=? s "") 1 0),
   :param-types [:string]}
  {:name rtmp-scheme?,
   :params [url],
   :result :i64,
   :effects #{},
   :body
   (let
    [n (string-byte-length url)]
    (if
     (< n 7)
     0
     (if
      (string=? (string-substring url 0 7) "rtmp://")
      1
      (if
       (< n 8)
       0
       (if (string=? (string-substring url 0 8) "rtmps://") 1 0))))),
   :param-types [:string]}
  {:name has-whitespace?,
   :params [s],
   :result :i64,
   :effects #{},
   :body
   (if
    (string-contains? s " ")
    1
    (if
     (string-contains? s "\n")
     1
     (if (string-contains? s "\t") 1 0))),
   :param-types [:string]}
  {:name redact-key,
   :params [stream-key],
   :result :string,
   :effects #{},
   :body
   (if
    (string=? stream-key "")
    "<blank>"
    (let
     [n (string-byte-length stream-key)]
     (if
      (< n 5)
      (string-concat "<" (string-concat (i64-str n) " chars>"))
      (string-concat
       (string-substring stream-key 0 4)
       (string-concat "…<" (string-concat (i64-str n) " chars>")))))),
   :param-types [:string]}
  {:name validate-flags,
   :params [x],
   :result :i64,
   :effects #{},
   :body
   (let
    [url
     (record-get
      [:record :stream/flags [[:url :string] [:stream-key :string]]]
      x
      :url)
     stream-key
     (record-get
      [:record :stream/flags [[:url :string] [:stream-key :string]]]
      x
      :stream-key)
     url-blank
     (blank? url)
     key-blank
     (blank? stream-key)
     f0
     (if (= url-blank 1) 1 0)
     f1
     (if (= url-blank 1) 0 (if (= (rtmp-scheme? url) 1) 0 2))
     f2
     (if (= key-blank 1) 4 0)
     f3
     (if (= key-blank 1) 0 (if (= (has-whitespace? stream-key) 1) 8 0))
     f4
     (if
      (= key-blank 1)
      0
      (if (string-contains? url stream-key) 16 0))]
    (+ f0 (+ f1 (+ f2 (+ f3 f4))))),
   :param-types [[:ref :stream/flags]]}
  {:name destination-url,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (let
    [platform
     (record-get
      [:record :stream/dest [[:platform :string] [:variant :string]]]
      x
      :platform)
     variant
     (record-get
      [:record :stream/dest [[:platform :string] [:variant :string]]]
      x
      :variant)]
    (if
     (string=? platform "youtube")
     (if
      (string=? variant "rtmps")
      "rtmps://a.rtmps.youtube.com/live2"
      (if
       (string=? variant "rtmp")
       "rtmp://a.rtmp.youtube.com/live2"
       (if
        (string=? variant "rtmp-backup")
        "rtmp://b.rtmp.youtube.com/live2?backup=1"
        "")))
     (if
      (string=? platform "twitch")
      (if
       (string=? variant "rtmps")
       "rtmps://live.twitch.tv/app"
       (if (string=? variant "rtmp") "rtmp://live.twitch.tv/app" ""))
      ""))),
   :param-types [[:ref :stream/dest]]}
  {:name inputs-path,
   :params [account-id],
   :result :string,
   :effects #{},
   :body
   (string-concat
    "/accounts/"
    (string-concat account-id "/stream/live_inputs")),
   :param-types [:string]}
  {:name live-input-path,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (string-concat
    (inputs-path
     (record-get
      [:record
       :stream/account-uid
       [[:account-id :string] [:input-uid :string]]]
      x
      :account-id))
    (string-concat
     "/"
     (record-get
      [:record
       :stream/account-uid
       [[:account-id :string] [:input-uid :string]]]
      x
      :input-uid))),
   :param-types [[:ref :stream/account-uid]]}
  {:name outputs-path,
   :params [x],
   :result :string,
   :effects #{},
   :body (string-concat (live-input-path x) "/outputs"),
   :param-types [[:ref :stream/account-uid]]}
  {:name live-input-summary,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (let
    [uid
     (record-get
      [:record
       :stream/summary
       [[:uid :string]
        [:name :string]
        [:whip-disp :string]
        [:rtmps-disp :string]
        [:rtmps-stream-key :string]]]
      x
      :uid)
     name
     (record-get
      [:record
       :stream/summary
       [[:uid :string]
        [:name :string]
        [:whip-disp :string]
        [:rtmps-disp :string]
        [:rtmps-stream-key :string]]]
      x
      :name)
     whip-disp
     (record-get
      [:record
       :stream/summary
       [[:uid :string]
        [:name :string]
        [:whip-disp :string]
        [:rtmps-disp :string]
        [:rtmps-stream-key :string]]]
      x
      :whip-disp)
     rtmps-disp
     (record-get
      [:record
       :stream/summary
       [[:uid :string]
        [:name :string]
        [:whip-disp :string]
        [:rtmps-disp :string]
        [:rtmps-stream-key :string]]]
      x
      :rtmps-disp)
     rtmps-stream-key
     (record-get
      [:record
       :stream/summary
       [[:uid :string]
        [:name :string]
        [:whip-disp :string]
        [:rtmps-disp :string]
        [:rtmps-stream-key :string]]]
      x
      :rtmps-stream-key)
     name-part
     (if
      (string=? name "")
      ""
      (string-concat " (" (string-concat name ")")))
     a
     (string-concat "live-input " uid)
     b
     (string-concat a name-part)
     c
     (string-concat b (string-concat " whip=" whip-disp))
     d
     (string-concat c (string-concat " rtmps=" rtmps-disp))]
    (string-concat
     d
     (string-concat " key=" (redact-key rtmps-stream-key)))),
   :param-types [[:ref :stream/summary]]}],
 :oracle-value nil,
 :schema-identities
 #:stream{:account-uid
          "2bed2c087d22374247442a83f99f963962456d8e3d1158c35354dc16512df636",
          :dest
          "03000b102dbe36896376469a2cf1c5997331ea2567105e8c664e8c2ab8997c1f",
          :flags
          "d79cd33645644af68960a9f824d2aa97ed7792149eadeccbe79a8b5223858fe2",
          :summary
          "e37ff8153f1c233d2e9a559d3cadce15be461e8a9eee9825a880f231bd1bc59d"},
 :exports
 [api-base
  digit-char
  nat-str
  i64-str
  blank?
  rtmp-scheme?
  has-whitespace?
  redact-key
  validate-flags
  destination-url
  inputs-path
  live-input-path
  outputs-path
  live-input-summary],
 :schemas
 #:stream{:flags
          [:record
           :stream/flags
           [[:url :string] [:stream-key :string]]],
          :dest
          [:record
           :stream/dest
           [[:platform :string] [:variant :string]]],
          :account-uid
          [:record
           :stream/account-uid
           [[:account-id :string] [:input-uid :string]]],
          :summary
          [:record
           :stream/summary
           [[:uid :string]
            [:name :string]
            [:whip-disp :string]
            [:rtmps-disp :string]
            [:rtmps-stream-key :string]]]},
 :effects #{},
 :blocks [],
 :entry nil}
