{:format :kotoba.kir/v4,
 :signature nil,
 :functions
 [{:name zone-routes-path,
   :params [zone-id],
   :result :string,
   :effects #{},
   :body
   (string-concat "/zones/" (string-concat zone-id "/workers/routes")),
   :param-types [:string]}
  {:name custom-domains-path,
   :params [account-id],
   :result :string,
   :effects #{},
   :body
   (string-concat
    "/accounts/"
    (string-concat account-id "/workers/domains")),
   :param-types [:string]}
  {:name scripts-path,
   :params [account-id],
   :result :string,
   :effects #{},
   :body
   (string-concat
    "/accounts/"
    (string-concat account-id "/workers/scripts")),
   :param-types [:string]}
  {:name list-zones-path,
   :params [],
   :result :string,
   :effects #{},
   :body "/zones",
   :param-types []}
  {:name dns-records-path,
   :params [zone-id],
   :result :string,
   :effects #{},
   :body
   (string-concat "/zones/" (string-concat zone-id "/dns_records")),
   :param-types [:string]}
  {:name pages-projects-path,
   :params [account-id],
   :result :string,
   :effects #{},
   :body
   (string-concat
    "/accounts/"
    (string-concat account-id "/pages/projects")),
   :param-types [:string]}],
 :oracle-value nil,
 :schema-identities nil,
 :exports
 [zone-routes-path
  custom-domains-path
  scripts-path
  list-zones-path
  dns-records-path
  pages-projects-path],
 :schemas nil,
 :effects #{},
 :blocks [],
 :entry nil}
