{:format :kotoba.kir/v4,
 :signature nil,
 :functions
 [{:name list-zones-path,
   :params [],
   :result :string,
   :effects #{},
   :body "/zones",
   :param-types []}
  {:name list-zones-per-page,
   :params [],
   :result :string,
   :effects #{},
   :body "50",
   :param-types []}
  {:name query-pair,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (string-concat
    (record-get [:record :zones/kv [[:k :string] [:v :string]]] x :k)
    (string-concat
     "="
     (record-get
      [:record :zones/kv [[:k :string] [:v :string]]]
      x
      :v))),
   :param-types [[:ref :zones/kv]]}
  {:name with-query,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (let
    [path
     (record-get
      [:record :zones/path-qs [[:path :string] [:qs :string]]]
      x
      :path)
     qs
     (record-get
      [:record :zones/path-qs [[:path :string] [:qs :string]]]
      x
      :qs)]
    (if
     (string=? qs "")
     path
     (string-concat path (string-concat "?" qs)))),
   :param-types [[:ref :zones/path-qs]]}
  {:name list-zones-query,
   :params [],
   :result :string,
   :effects #{},
   :body
   (query-pair
    (record-new
     [:record :zones/kv [[:k :string] [:v :string]]]
     "per_page"
     (list-zones-per-page))),
   :param-types []}
  {:name list-zones-request-path,
   :params [],
   :result :string,
   :effects #{},
   :body
   (with-query
    (record-new
     [:record :zones/path-qs [[:path :string] [:qs :string]]]
     (list-zones-path)
     (list-zones-query))),
   :param-types []}
  {:name dns-records-path,
   :params [zone-id],
   :result :string,
   :effects #{},
   :body
   (string-concat "/zones/" (string-concat zone-id "/dns_records")),
   :param-types [:string]}
  {:name dns-name-query-pair,
   :params [name],
   :result :string,
   :effects #{},
   :body
   (query-pair
    (record-new
     [:record :zones/kv [[:k :string] [:v :string]]]
     "name"
     name)),
   :param-types [:string]}
  {:name dns-records-path-with-name,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (with-query
    (record-new
     [:record :zones/path-qs [[:path :string] [:qs :string]]]
     (dns-records-path
      (record-get
       [:record :zones/zone-name [[:zone-id :string] [:name :string]]]
       x
       :zone-id))
     (dns-name-query-pair
      (record-get
       [:record :zones/zone-name [[:zone-id :string] [:name :string]]]
       x
       :name)))),
   :param-types [[:ref :zones/zone-name]]}
  {:name hostname-matches?,
   :params [x],
   :result :i64,
   :effects #{},
   :body
   (if
    (string=?
     (record-get
      [:record :zones/match [[:expected :string] [:actual :string]]]
      x
      :expected)
     (record-get
      [:record :zones/match [[:expected :string] [:actual :string]]]
      x
      :actual))
    1
    0),
   :param-types [[:ref :zones/match]]}],
 :oracle-value nil,
 :schema-identities
 #:zones{:kv
         "19160ac38ead032daf759681a15a96a6098a49a68ff49a182aaaf9fee2937ca7",
         :match
         "1e9d097d615f584a82578faa28b00c3314285a0f7ff4f6539b93597047a2dfa5",
         :path-qs
         "e3b1bc9f2ab53ea83bb9e036b31b288a68943b127e8b6b0a5a918f22aa0443b5",
         :zone-name
         "a2c46c9587b10ac2a9bfd43fab7d94ab10945bceb7ae3ad3d4bc754028b78dbe"},
 :exports
 [list-zones-path
  list-zones-per-page
  list-zones-query
  list-zones-request-path
  dns-records-path
  dns-name-query-pair
  dns-records-path-with-name
  query-pair
  with-query
  hostname-matches?],
 :schemas
 #:zones{:kv [:record :zones/kv [[:k :string] [:v :string]]],
         :path-qs
         [:record :zones/path-qs [[:path :string] [:qs :string]]],
         :zone-name
         [:record
          :zones/zone-name
          [[:zone-id :string] [:name :string]]],
         :match
         [:record
          :zones/match
          [[:expected :string] [:actual :string]]]},
 :effects #{},
 :blocks [],
 :entry nil}
